.has-error{color:#ff0000 !important;}
.has-success{color:#78b310 !important;}
.message_success{background-color: #78b310; color:#fff;padding: 5px;}
.message_error{background-color: #e74c3c; color:#fff;padding: 5px;}